<html lang=”en”>
    <head>
        <title>Login</title>
    </head>
    <body>
        <div>
            <form action=”/login” method=”post”>
            <span>Sign In</span>
            <div data-validate=”Please enter username”>
            <input type=”text” name=”userName” placeholder=”Username”>
        </div>
        <div data-validate = “Please enter password”>
            <input type=”password” name=”password” placeholder=”Password”>
        </div>
        <div>
            <button>Sign in</button>
        </div>
        </form>
        </div>
    </body>
</html>
